<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.basic.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.study.basic.pojo.UserInfo" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_login" property="userLogin" jdbcType="VARCHAR" />
    <result column="user_passwd" property="userPasswd" jdbcType="VARCHAR" />
    <result column="user_telephone" property="userTelephone" jdbcType="CHAR" />
    <result column="user_status" property="userStatus" jdbcType="TINYINT" />
    <result column="user_additional" property="userAdditional" jdbcType="VARCHAR" />
    <result column="user_head" property="userHead" jdbcType="VARCHAR" />
    <result column="user_modified" property="userModified" jdbcType="TIMESTAMP" />
    
  </resultMap>
  
  <resultMap  id="userandclsResultMap" type="com.study.basic.pojo.UserInfo" extends="BaseResultMap">
  	<association property="cls" javaType="com.study.basic.pojo.Cls" select="com.study.basic.dao.ClsMapper.selectByPrimaryKey" column="cls_id" fetchType="eager">
  		
  	</association>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_login, user_passwd, user_telephone, user_status, user_additional, 
    user_head, user_modified, cls_id
  </sql>
  
    <select id="selectByPrimaryKey" resultMap="userandclsResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <select id="selectUserByNameAndPwd" resultMap="userandclsResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where user_login = #{userLogin,jdbcType=VARCHAR} and user_passwd = #{userPasswd,jdbcType=VARCHAR}
  </select>
  
    <select id="listAllUserInfo" resultMap="userandclsResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from userinfo
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userinfo
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.study.basic.pojo.UserInfo" >
    insert into userinfo (user_id, user_name, user_login, 
      user_passwd, user_telephone, user_status, 
      user_additional, user_head, user_modified, 
      cls_id)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userLogin,jdbcType=VARCHAR}, 
      #{userPasswd,jdbcType=VARCHAR}, #{userTelephone,jdbcType=CHAR}, #{userStatus,jdbcType=TINYINT}, 
      #{userAdditional,jdbcType=VARCHAR}, #{userHead,jdbcType=VARCHAR}, #{userModified,jdbcType=TIMESTAMP}, 
      #{cls.clsId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.study.basic.pojo.UserInfo" useGeneratedKeys="true" keyColumn="user_id"  keyProperty="userId">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userLogin != null" >
        user_login,
      </if>
      <if test="userPasswd != null" >
        user_passwd,
      </if>
      <if test="userTelephone != null" >
        user_telephone,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="userAdditional != null" >
        user_additional,
      </if>
      <if test="userHead != null" >
        user_head,
      </if>
      <if test="userModified != null" >
        user_modified,
      </if>
      <if test="cls != null and cls.clsId!=null" >
        cls_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userLogin != null" >
        #{userLogin,jdbcType=VARCHAR},
      </if>
      <if test="userPasswd != null" >
        #{userPasswd,jdbcType=VARCHAR},
      </if>
      <if test="userTelephone != null" >
        #{userTelephone,jdbcType=CHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=TINYINT},
      </if>
      <if test="userAdditional != null" >
        #{userAdditional,jdbcType=VARCHAR},
      </if>
      <if test="userHead != null" >
        #{userHead,jdbcType=VARCHAR},
      </if>
      <if test="userModified != null" >
        #{userModified,jdbcType=TIMESTAMP},
      </if>
      <if test="cls != null and cls.clsId!=null" >
        #{cls.clsId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.basic.pojo.UserInfo" >
    update userinfo
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userLogin != null" >
        user_login = #{userLogin,jdbcType=VARCHAR},
      </if>
      <if test="userPasswd != null" >
        user_passwd = #{userPasswd,jdbcType=VARCHAR},
      </if>
      <if test="userTelephone != null" >
        user_telephone = #{userTelephone,jdbcType=CHAR},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=TINYINT},
      </if>
      <if test="userAdditional != null" >
        user_additional = #{userAdditional,jdbcType=VARCHAR},
      </if>
      <if test="userHead != null" >
        user_head = #{userHead,jdbcType=VARCHAR},
      </if>     
      <if test="cls != null and cls.clsId!=null" >
        cls_id = #{cls.clsId,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER} and  user_modified=#{userModified,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.basic.pojo.UserInfo" >
    update userinfo
    set user_name = #{userName,jdbcType=VARCHAR},
      user_login = #{userLogin,jdbcType=VARCHAR},
      user_passwd = #{userPasswd,jdbcType=VARCHAR},
      user_telephone = #{userTelephone,jdbcType=CHAR},
      user_status = #{userStatus,jdbcType=TINYINT},
      user_additional = #{userAdditional,jdbcType=VARCHAR},
      user_head = #{userHead,jdbcType=VARCHAR},
      user_modified = #{userModified,jdbcType=TIMESTAMP},
      cls_id = #{cls.clsId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>